<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select Beastling</title>
</head>
<body>
    <h1>Select Your Beastling</h1>
    <form action="/save_beastling" method="post">
        {% for beastling in beastlings %}
        <div>
            <img src="{{ url_for('static', filename='images/' + beastling.image) }}" alt="{{ beastling.name }}">
            <p>{{ beastling.name }}</p>
            <button type="submit" name="beastling" value="{{ beastling.id }}">Select</button>
        </div>
        {% endfor %}
    </form>
</body>
</html>
